<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30008">
        <setting type="lsep" label="30017" />
        <setting id="fbServer" type="text" label="30000" default="fritz.box" />
        <setting id="fbUsername" type="text" label="30001" />
        <setting id="fbPasswd" type="text" option="hidden" label="30002" />
        <setting id="fbTLS" type="bool" label="30003" default="false" />
        <setting type="lsep" label="30018" />
        <setting id="preferredAIN" type="action" label="30004" action="RunScript(script.program.fritzact,action=preferredAIN)" default="" />
        <setting id="readonlyAIN" type="action" label="30005" action="RunScript(script.program.fritzact,action=readonlyAIN&amp;multiselect=true)" default="" />
        <setting id="unknownAIN" type="bool" label="30007" default="true" />
        <setting type="lsep" label="30019" />
        <setting id="fbResetSession" type="action" option="close" label="30009" action="RunScript(script.program.fritzact,action=reset_session)" default="" />
        <setting id="widgetAction" type="enum" label="30050" lvalues="30051|30052" default="0" />
        <setting id="showResult" type="bool" label="30053" default="true" enable="eq(-1,1)" />
        <setting id="enableExtendedLogging" type="bool" label="30036" default="false" />
    </category>
</settings>
